<template>
  <v-container fluid id="login">
    <v-sheet class="pa-12" rounded>
      <v-card class="mx-auto px-6 py-8" max-width="344">
        <v-form v-model="form" @submit.prevent="login">
          <v-text-field
            v-model="email"
            :readonly="loading"
            :rules="[required]"
            class="mb-2"
            label="Email"
          ></v-text-field>

          <v-text-field
            v-model="password"
            :readonly="loading"
            :rules="[required]"
            label="Senha"
            :append-inner-icon="showPassword ? 'mdi-eye-off' : 'mdi-eye'"
            :type="showPassword ? 'text' : 'password'"
            @click:append-inner="showPassword = !showPassword"
          ></v-text-field>

          <br />

          <v-btn
            :disabled="!form"
            :loading="loading"
            color="deep-purple-darken-1"
            size="large"
            type="submit"
            variant="elevated"
            block
          >
            Entrar
          </v-btn>
        </v-form>
      </v-card>
    </v-sheet>
  </v-container>
</template>

<script>
import Service from "./Service";

export default {
  data: () => ({
    path: "user/login",
    showPassword: false,
    form: false,
    email: null,
    password: null,
    loading: false,
    user: {
      email: null,
      password: null,
    },
  }),

  methods: {
    login() {
      this.user.email = this.email;
      this.user.password = this.password;

      Service.create(this.path, this.user)
        .then(({ data }) => {
          console.log(data);
          this.loading = true;
          setTimeout(() => (this.loading = false), 2000);
          this.goHomePage();
        })
        .catch(({ data }) => {
          console.error(data);
        })
        .finally(() => {
          this.loading = true;
          setTimeout(() => (this.loading = false), 2000);
        });
    },
    required(v) {
      return !!v || "Campo obrigatório";
    },
    goHomePage() {
      this.$router.push("/");
    },
  },
};
</script>
