<template>
  <v-container fluid id="report">
    <Bar
      v-if="loaded"
      id="my-chart-id"
      :options="chartOptions"
      :data="chartData"
    />
  </v-container>
</template>

<script>
import { Bar } from "vue-chartjs";
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale,
} from "chart.js";

ChartJS.register(
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale
);

import Service from "./Service";

export default {
  name: "BarChart",
  components: { Bar },
  data: () => ({
    path: "report/by-status",
    loaded: false,
    chartData: null,
    chartArray: [],
    chartOptions: {
      responsive: true,
    },
    data: {
      count_opened: 0,
      count_closed: 0,
    },
  }),

  async mounted() {
    this.loaded = false;

    try {
      this.getReport();

      await new Promise((resolve) => setTimeout(resolve, 200));

      this.chartData = {
        labels: ["ABERTO", "FECHADO"],
        datasets: [
          {
            label: "Ordens de Serviço",
            backgroundColor: "#4A148C",
            data: this.chartArray,
          },
        ],
      };

      this.loaded = true;
    } catch (e) {
      console.error(e);
    }
  },

  methods: {
    getReport() {
      Service.list(this.path).then(({ data }) => {
        this.chartArray = Object.values(data);
      });
    },
  },
};
</script>
