<template>
  <v-container fluid id="listComponent">
    <v-data-table
      :headers="headers"
      :items="items"
      :sort-by="[{ key: 'id', order: 'asc' }]"
      hover
      no-data-text="Nenhum registro encontrado"
      items-per-page-text="Itens por página"
    >
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Usuários</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ props }">
              <v-btn
                class="mb-2"
                color="deep-purple-darken-1"
                dark
                v-bind="props"
              >
                Novo Item
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6">
                      <v-text-field
                        v-model="editedItem.id"
                        label="Identificador"
                        disabled
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6">
                      <v-text-field
                        v-model="editedItem.name"
                        label="Nome"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6">
                      <v-text-field
                        v-model="editedItem.email"
                        label="Email"
                        type="email"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6">
                      <v-text-field
                        v-model="editedItem.password"
                        label="Senha"
                        :append-inner-icon="
                          showPassword ? 'mdi-eye-off' : 'mdi-eye'
                        "
                        :type="showPassword ? 'text' : 'password'"
                        @click:append-inner="showPassword = !showPassword"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="deep-purple-darken-1"
                  variant="text"
                  @click="close"
                >
                  Cancelar
                </v-btn>
                <v-btn
                  color="deep-purple-darken-1"
                  variant="text"
                  @click="save"
                >
                  Salvar
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h6"
                >Você tem certeza que deseja deletar esse item?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="deep-purple-darken-1"
                  variant="text"
                  @click="closeDelete"
                  >Cancelar</v-btn
                >
                <v-btn
                  color="deep-purple-darken-1"
                  variant="text"
                  @click="deleteItemConfirm"
                  >Confirmar</v-btn
                >
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon class="me-2" size="small" @click="editItem(item)">
          mdi-pencil
        </v-icon>
        <v-icon size="small" dark @click="deleteItem(item)">
          mdi-delete
        </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="deep-purple-darken-1" @click="listItems"> Resetar </v-btn>
      </template>
    </v-data-table>
  </v-container>
</template>
<script>
import Service from "./Service";

export default {
  data: () => ({
    path: "user",
    showPassword: false,
    dialog: false,
    dialogDelete: false,
    headers: [
      { title: "Identificador", align: "start", sortable: true, key: "id" },
      { title: "Nome", key: "name", sortable: false },
      { title: "Email", key: "email", sortable: false },
      { title: "Ações", key: "actions", sortable: false },
    ],
    items: [],
    editedIndex: -1,
    editedItem: {
      id: null,
      name: "",
      password: "",
      email: "",
    },
    defaultItem: {
      id: null,
      name: "",
      password: "",
      email: "",
    },
  }),

  computed: {
    formTitle() {
      return this.editedItem.id === null ? "Novo Item" : "Editar Item";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },

  created() {
    this.listItems();
  },

  methods: {
    listItems() {
      Service.list(this.path).then(({ data }) => {
        this.items = data;
      });
    },

    createItemConfirm() {
      Service.create(this.path, this.editedItem)
        .then(() => {
          this.listItems();
        })
        .catch(({ data }) => {
          console.log(data);
        })
        .finally(() => {
          this.close();
        });
    },

    editItemConfirm() {
      Service.edit(this.path, this.editedItem.id, this.editedItem)
        .then(() => {
          this.listItems();
        })
        .catch(({ data }) => {
          console.log(data);
        })
        .finally(() => {
          this.close();
        });
    },

    editItem(item) {
      this.editedItem = item;
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedItem = item;
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      Service.delete(this.path, this.editedItem.id, this.editedItem)
        .then(() => {
          this.listItems();
        })
        .catch(({ data }) => {
          console.log(data);
        })
        .finally(() => {
          this.closeDelete();
        });
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = this.defaultItem;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = this.defaultItem;
      });
    },

    save() {
      if (this.editedItem.id) {
        return this.editItemConfirm();
      }

      return this.createItemConfirm();
    },
  },
};
</script>
