<template lang="html">
  <div id="sidebar">
    <v-navigation-drawer class="bg-deep-purple" v-model="drawer" theme="dark" permanent app>
      <v-toolbar :elevation="1" class="bg-deep-purple-lighten-1">
      </v-toolbar>
      <v-list nav>
        <v-list-item to="/lighting" prepend-icon="mdi-lightbulb" title="Pontos de iluminação" value="lightingPoint"></v-list-item>
        <v-list-item to="/service" prepend-icon="mdi-account-wrench" title="Ordens de serviço" value="serviceOrders"></v-list-item>
        <v-list-item to="/user" prepend-icon="mdi-account" title="Usuários" value="users"></v-list-item>
        <v-list-item to="/report" prepend-icon="mdi-file-chart" title="Relátorios" value="reports"></v-list-item>
      </v-list>
      <template v-slot:append>
        <div class="pa-2">
          <v-btn block @click="goLoginPage">
            Sair
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>
    <v-app-bar scroll-behavior="collapse" ligth app fixed :elevation="1" class="bg-deep-purple-lighten-1">
      <template v-slot:prepend>
  <v-app-bar-nav-icon @click.stop="toogleDrawer()"></v-app-bar-nav-icon>
</template>
      <v-app-bar-title>Gestão de Iluminação Pública</v-app-bar-title>
    </v-app-bar>
  </div>
</template>

<script>
export default {
  name: "Sidebar",
  data: () => ({
    drawer: false,
  }),
  methods: {
    goLoginPage() {
      this.$router.push("/login");
    },
    toogleDrawer() {
      this.drawer = !this.drawer;
    },
  },
};
</script>

