<template>
  <v-app>
    <router-view v-slot="{ Component }">
      <transition>
        <component :is="Component" />
      </transition>
    </router-view>
  </v-app>
</template>

<script setup>
</script>
