<template>
  <v-app>
    <Sidebar v-if="goLoginPage()" />
    <v-main>
      <router-view />
    </v-main>
    <AppFooter />
  </v-app>
</template>

<script>
export default {
  methods: {
    goLoginPage() {
      return this.$route.path != "/login";
    },
  },
};
</script>

